
.site_header {
     display: flex;
     align-content: space-between;
     padding: 10px;
     background-color: #EEC584;
     width: 100%;
     left: 0;            
}
 
.logo {
     text-decoration: none;
     font-size: 24pt;
     font-weight: bold;
     font-family: 'Didact Gothic', sans-serif;
     color: #555555;
}
.logo:hover {
    text-decoration: none;
    color: #555555;
}

#image_logo {
    width: 40px;
    height: 40px;  
    position: relative;
    top: 0.4rem;  
}

.site_nav {
    display: flex;
    list-style: none;
}

.site_nav li {
    margin-right: 1rem;
    text-decoration: none;
}

.site_nav li a {
    margin-right: 1rem;
    text-decoration: none;
    color: #555555;
}
.site_nav li a:hover {
    color: #fff;
}

/***************************** 
Dropdown Button 
******************************/
.dropbtn {
    background: transparent;
    color: #555555;
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    border: none; 
    margin-top: 15px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }

  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    border-radius: 0px 0px 0px 0px;
    /* box-shadow: 3px 6px 10px #999999;  */
    width: 150px;
    z-index:99;
    position: absolute;
    height: 0px;
    overflow-y:scroll;
    transition: height 1s ease;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 12px 16px;
    width: inherit;
    font-size: 12pt;
    text-decoration: none;
    display: block;
    color: cornflowerblue;
     
  }
  .dropdown-content a:last-child {
    border-radius: 0px 0px 0px 0px;
     
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover{
      background-color:#ddd;
       
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;   
      height: 200px;  
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {  
      color: #FFFFFF;   
  }