/*
#CACAAA light olive - background color
#EEC584 brown yellow - for headers and nav bars
#C8AB83 light brown - tbd
#55868C blue marine - for on hover
#7F636E red brown - tbd
#555555 dark gray for font
#999999 light gray for box shadow
*/


html, body{
    
   /* background-image: url("img/hhhTab.png");
    background-size: 50px 50px; 
    background-repeat: repeat;*/
    overflow-x: hidden;
    font-family: 'Varela Round', sans-serif;
    color: #555555;
    background-color: aliceblue;
    margin: 0;
   
}

p{
    margin: 0px auto 0px auto;
    width: 70%;
}

.centered{
    
    text-align: center;
}
.right{
    text-align: right;
}


footer{
    box-shadow: 0px 5px 10px #999999;
    background-color: #EEC584;
    min-height: 100px;
    padding: 20px;
    bottom: 0 !important;
    left: 0;  
}


iframe {
    border-width: 0px;
    height: auto;
    width: 100%;
}
div.clear_float{
    clear:both;
}


h1{
    font-family: 'Didact Gothic', sans-serif;
    padding: 10px;
    
}

h2{
    font-family: 'Varela Round', sans-serif;
     padding: 10px;
    
}

h3{
    font-family: 'Didact Gothic', sans-serif;
    background-color: #EEC584;
    padding: 10px;
   
}

.paragraph{
    margin: 0px auto 0px auto;
    width: 70%;
    text-align: left;
}

.introduction {
    background-image:  linear-gradient(to right, rgb(177, 63, 55) , #c44949);
}

.introduction .jumbotron {
    margin-top: 2rem;
}



/*****************************************
Vertical Nav Bar
******************************************/

/* ul.nav_bar {
  border-radius: 15px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #EEC584;
  border: 1px solid #555555;
  box-shadow: 3px 6px 10px #999999;
    
}

ul.nav_bar li {
  border-bottom: 1px solid #555555;
  
}

#active {
  background-color: #CACAAA;
}

ul.nav_bar li a {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 10pt;
  text-decoration: none;
  color: #555555;
  
}

ul.nav_bar li a:hover {
    color: #FFFFFF;
    background-color: #55868C;
    
}


ul.nav_bar li:last-child{
  border-bottom: none;
  border-radius: 0px 0px 14px 14px;
}

ul.nav_bar li:first-child {
  border-radius: 14px 14px 0px 0px;
} */


/********************************
Container business 
*********************************/

#main_container{
   margin: 0px auto 0px auto;
   width: 100%;
   background-image: url("img/white-wood.jpg");
   height: 100%; 
   background-repeat: repeat;
   border-right: 1px solid #555555;
}

div.wrapper{
   margin: 0px auto 0px auto;
   width: 100%;
    
}

.feed {
  background-color: #FFE2B4;
  /*background-image:  linear-gradient(to right, #EEC584 , #efeff5);*/
  text-align: center;
  margin: 0px auto 15px auto;
  padding: 0px;
}

div.column_20{
    box-sizing: border-box;  
    float: left;   
    width: 20%;
    margin: 0px;     
    padding: 15px; 
    
}

div.column_33{
    box-sizing: border-box; 
    float: left;
    width: 33.3%;
    margin: 0px;     
    padding: 15px;
    
}
div.column_60{
    box-sizing: border-box; 
    float: left;
    width: 60%;
    margin: 0px;     
    padding: 15px;
    
}

div.column_50{
    box-sizing: border-box; 
    float: left;
    width: 50%;
    margin: 0px;    
    padding: 15px;
    
}

div.column_80{
    box-sizing: border-box; 
    float: left;
    width: 80%;
    margin: 0px;    
    padding: 15px;
}

/* Welcome heading */

.welcome{
  font-size: 16pt;
  background-color:cornflowerblue;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom: 1px solid #555555;
  text-align: center;
  width: 100%;
  color: #555555;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  display: block;
  box-sizing: border-box;
}


/* LINK styling */

a.style_links:link{
    color: #376076;
    font-weight: bold;
    text-decoration: underline;
}
a.style_links:visited{
    color: #55868C;
    text-decoration: underline; 
    
}

a.style_links:active{ 
  color: #55868C;
  text-decoration: underline;
}
    
    
a.style_links:hover{
  text-decoration: none;
}

a.button_link {
  background-color: #CACAAA;
  border-radius: 20px;
  border: 1px solid #555555;
  padding: 10px;
  text-decoration: none;
  box-shadow: 3px 0px 9px #999999; 
  color: #555555;
  font-family: 'Didact Gothic', sans-serif; 
}

a.button_link:hover {
  background-color: #55868C;
  color: #FFFFFF;
  
}



/* Paragraph Styling for the content */

div.bullet_top {
    font-weight: bold;
    background-color: #EEC584;    
    padding: 15px; 	  
    margin: 0px;
    width: 100%;
    box-sizing: border-box;   
} 
      
div.bullet_bottom  {
    background-color: #FFFFFF;      
    padding: 15px; 
    text-align: left;   
    margin: 0px;
    width: 100%;
    box-sizing: border-box;   
} 

#image{
    border: 10px solid #555555;
    
    border-radius: 10px;  
}

img {
    max-width: 100%;
    height: auto;
}


img.fade_hover:hover{
    opacity: 0.7;
}

div.image_links_container{
    width: 100%;
    min-height: 300px;
    background-image: url(img/vinyl.jpg);
    background-position: center;
    background-size:cover;
}

/**********************************************
Book Frame
**********************************************/

div.book_frame{
    background-color: antiquewhite;
    padding: 15px;
}

#books_container{
    width: 100%;
    text-align: center;
    margin: auto;
}

div.book_wrapper{
    width: 60%;
    margin: 0px auto 0px auto;
}



/***********************************************
RESPONSIVE Design
************************************************/
@media (max-width:960px){

    header, footer{
        display: block;
        text-align: left;
    }
    .welcome h2{
        font-size: 110%;
    }
    div.column_20{
        float: none;
        width: 100%;
    }
    div.column_33{
        float: none;
        width: 100%;
    }
    div.column_50{
        float: none;
        width: 100%;
    }
    div.column_60{
        float: none;
        width: 100%;
    }
    div.column_80{
        float: none;
        width: 100%;
        padding: 0px;
    }
    
    #main_container{
        width: 100%;
        font-size: 100%;
        margin: 0px auto 0px auto;   
    }
    
    body{
        font-size: 100%;
    }
  

    div.feed{
        margin-left: 0px;
        margin-right: 0px;
    }
    p {
    margin: 0px;
    width: 100%;
    }
    


}

