{% load static %}
<link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css">
  
            <header class="site_header">    
                    <a class="logo" href="{% url 'index' %}"><img src="{% static 'img/hhhTab.png' %}" id="image_logo" alt="">&nbsp;HIP&nbsp;HOP&nbsp;HUB</a>
                    
                 
                    <div class="site_nav">
                            <a href="#">About</a>
                            <a href="#">HHH&nbsp;Blog</a>
                    </div>
               
                    <div class="dropdown">
                            <button class="dropbtn">&#9661;&nbsp;Hip&nbsp;Hop&nbsp;Evolution</button>
                            <div class="dropdown-content">
                                    <a href="HHH_EVO_1.pdf" target="_blank">Episode&nbsp;1</a>
                                    <a href="HHH_EVO_2.pdf">Episode&nbsp;2</a>
                                    <a href="HHH_EVO_3.pdf">Episode&nbsp;3</a>
                                    <a href="HHH_EVO_4.pdf">Episode&nbsp;4</a>
                            </div>
                    </div>
                    <div class="dropdown">
                            <button class="dropbtn">&#9661;&nbsp;KLD&nbsp;Dissect</button>
                            <div class="dropdown-content">
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083658">
                                        Episode&nbsp;1</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083657">
                                        Episode&nbsp;2</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083656">
                                        Episode&nbsp;3</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083655">
                                        Episode&nbsp;4</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083654">
                                        Episode&nbsp;5</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083653">
                                        Episode&nbsp;6</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083652">
                                        Episode&nbsp;7</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083651">
                                        Episode&nbsp;8</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48083650">
                                        Episode&nbsp;9</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48111223">
                                        Episode&nbsp;10</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48183806">
                                        Episode&nbsp;11</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48254365">
                                        Episode&nbsp;12</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48324505">
                                        Episode&nbsp;13</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48456022">
                                        Episode&nbsp;14</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48522776">
                                        Episode&nbsp;15</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48839951">
                                        Episode&nbsp;16</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48839950">
                                        Episode&nbsp;17</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48839949">
                                        Episode&nbsp;18</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48839948">
                                        Episode&nbsp;19</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48913944">
                                        Episode&nbsp;20</a>
                                    <a href="https://www.stitcher.com/podcast/city-scout/dissect/e/48983800">
                                        Episode&nbsp;21</a>
                            </div>
                    </div>
                    <div class="dropdown">
                            <button class="dropbtn">&#9661;&nbsp;MUSC&nbsp;237</button>
                            <div class="dropdown-content">
                                <a href="classnotes/HHMP Notes 1-15-19.pdf">
                                    Lecture&nbsp;1</a>
                                <a href="classnotes/HHMP Notes 1-17-19.pdf">
                                    Lecture&nbsp;2</a>
                                <a href="classnotes/HHMP Notes 1-22-19.pdf">
                                    Lecture&nbsp;3</a>
                                <a href="classnotes/HHMP Notes 1-29-19.pdf">
                                    Lecture&nbsp;4</a>
                                <a href="classnotes/HHMP Notes 1-31-19.pdf">
                                    Lecture&nbsp;5</a>
                                <a href="classnotes/HHMP Notes 2-5-19.pdf">
                                    Lecture&nbsp;6</a>
                                <a href="classnotes/HHMP Notes 2-7-19.pdf">
                                    Lecture&nbsp;7</a>
                                <a href="classnotes/HHMP Notes 2-12-19.pdf">
                                    Lecture&nbsp;8</a>
                                <a href="classnotes/HHMP Notes 2-14-19.pdf">
                                    Lecture&nbsp;9</a>
                                <a href="classnotes/HHMP Notes 2-19-19.pdf">
                                    Lecture&nbsp;10</a>
                                <a href="classnotes/HHMP Notes 2-21-19.pdf">
                                    Lecture&nbsp;11</a>
                                <a href="classnotes/HHMP Notes 3-5-19.pdf">
                                    Lecture&nbsp;12</a>
                                <a href="classnotes/HHMP Notes 3-19-19.pdf">
                                    Lecture&nbsp;13</a>
                                <a href="classnotes/HHMP Notes 3-21-19.pdf">
                                    Lecture&nbsp;14</a>
                                <a href="classnotes/HHMP Notes 3-26-19.pdf">
                                    Lecture&nbsp;15</a>
                                <a href="classnotes/HHMP Notes 3-28-19.pdf">
                                    Lecture&nbsp;16</a>
                                <a href="classnotes/HHMP Notes 4-2-19.pdf">
                                    Lecture&nbsp;17</a>
                                <a href="classnotes/HHMP Notes 4-4-19.pdf">
                                    Lecture&nbsp;18</a>
                                <a href="classnotes/HHMP Notes 4-11-19.pdf">
                                    Lecture&nbsp;19</a>
                                <a href="classnotes/HHMP Notes 4-16-19.pdf">
                                    Lecture&nbsp;20</a>
                                <a href="classnotes/HHMP Notes 4-23-19.pdf">
                                    Lecture&nbsp;21</a>
                            </div>
                    </div>
            </header>  
            