@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,800|Source+Code+Pro:400,500&display=swap');

html, body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    color: #555555;
    background-color: aliceblue;
    margin: 0;
    scroll-behavior: smooth; 
}


.centered{
    
    text-align: center;
}
.right{
    text-align: right;
}


footer{
    box-shadow: 0px 5px 10px #999999;
    background-color: #241824;
    min-height: 100px;
    padding: 20px;
    color: #ECF0E9;
}

.d-f {
    display: flex;
    justify-content: space-between;
}

iframe {
   border: none;
}

.btn.btn-info {
    background-color: #232326;
    border: none;
}

#introduction {
    background: #d1913c; /* fallback for old browsers */
    background-image: -webkit-linear-gradient(to right, #d1913c, #ffd194); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #d1913c, #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 30px;
    height: 100vh;
    display: flex;
    align-items: center;
}

#introduction .message {
    margin-left: 30px;
    width: 44%;
    align-self: center;
    justify-content: center;
}

#introduction .message .btn {
    background-color: #AA4638;
    border: 1px solid #AA4638;
}
#introduction .message h3 {
    font-weight: 700;
    color: #3E3737;
    text-shadow: #222 1px 3px 1px;
}
.intro-image {
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    width: 50%;
    height: auto;
    position: absolute;
    right: -100px;
    top: 400px;
    z-index: 2;
}

.intro-image-2 {
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    width: 300px;
    height: auto;
    position: absolute;
    right: 100px;
    top: 60px;
    z-index: 1;
}
.intro-image-3 {
    opacity: 0.8;
    width: 300px;
    height: auto;
    position: absolute;
    right: 100px;
    top: 200px;
    z-index: 4;
}

#introduction .jumbotron {
    width: 50%;
    opacity: 0.75;
}

#radio {
    background: #241824;  /* fallback for old browsers */
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

#radio .left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#radio iframe {
    border-radius: 10px;
    /* box-shadow: #fff 10px 10px 10px; */
}

/**********************************************
Book Frame
**********************************************/
#books {
    background: #ECF0E9;
}
.books_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    min-height: 450px;
}
.book_frame{
    background-color: #d1913c;
    width: 25%;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #be802e;
}

.book_frame img {
    width: 200px;
    height: 266px;
    margin-bottom: 5px;
    margin-top: -30px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #111;
}

#about {
    position: relative;
    background: #d1913c;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}
#about h2 {
    position: relative;
    z-index: 2;
    color: #232326;
    height: 37px;
}
/* #about h2 .fa-info {
    color: #d1913c;
    margin-right: 23px;
}
#about h2::before {
    content: "";
    position: absolute;
    left: -16px;
    bottom: -1.5px;
    width: 39.5px;
    height: 39.5px;
    display: inline-block;
    background-color: #232326;
    z-index: -1;
    border-radius: 7px;
    margin-right: 10px;
} */

#about .card {
    background-color: #232326;
    width: 50%;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #1c1c1f;
    line-height: 1.7;
}

/*****************************************
Vertical Nav Bar
******************************************/

/* ul.nav_bar {
  border-radius: 15px;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #EEC584;
  border: 1px solid #555555;
  box-shadow: 3px 6px 10px #999999;
    
}

ul.nav_bar li {
  border-bottom: 1px solid #555555;
  
}

#active {
  background-color: #CACAAA;
}

ul.nav_bar li a {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 10pt;
  text-decoration: none;
  color: #555555;
  
}

ul.nav_bar li a:hover {
    color: #FFFFFF;
    background-color: #55868C;
    
}


ul.nav_bar li:last-child{
  border-bottom: none;
  border-radius: 0px 0px 14px 14px;
}

ul.nav_bar li:first-child {
  border-radius: 14px 14px 0px 0px;
} */


/********************************
Container business 
*********************************/

#main_container{
   margin: 0px auto 0px auto;
   width: 100%;
   height: 100%; 
}

div.wrapper{
   margin: 0px auto 0px auto;
   width: 100%;
    
}

.feed {
  background-color: #FFE2B4;
  text-align: center;
  margin: 0px auto 15px auto;
  padding: 0px;
}

div.column_20{
    box-sizing: border-box;  
    float: left;   
    width: 20%;
    margin: 0px;     
    padding: 15px; 
    
}

div.column_33{
    box-sizing: border-box; 
    float: left;
    width: 33.3%;
    margin: 0px;     
    padding: 15px;
    
}
div.column_60{
    box-sizing: border-box; 
    float: left;
    width: 60%;
    margin: 0px;     
    padding: 15px;
    
}

div.column_50{
    box-sizing: border-box; 
    float: left;
    width: 50%;
    margin: 0px;    
    padding: 15px;
    
}

div.column_80{
    box-sizing: border-box; 
    float: left;
    width: 80%;
    margin: 0px;    
    padding: 15px;
}


/* LINK styling */

a.style_links:link{
    color: #376076;
    font-weight: bold;
    text-decoration: underline;
}
a.style_links:visited{
    color: #55868C;
    text-decoration: underline; 
    
}

a.style_links:active{ 
  color: #55868C;
  text-decoration: underline;
}
    
    
a.style_links:hover{
  text-decoration: none;
}

a.button_link {
  background-color: #CACAAA;
  border-radius: 20px;
  border: 1px solid #555555;
  padding: 10px;
  text-decoration: none;
  box-shadow: 3px 0px 9px #999999; 
  color: #555555;
}

a.button_link:hover {
  background-color: #55868C;
  color: #FFFFFF;
  
}



/* Paragraph Styling for the content */

div.bullet_top {
    font-weight: bold;
    background-color: #EEC584;    
    padding: 15px; 	  
    margin: 0px;
    width: 100%;
    box-sizing: border-box;   
} 
      
div.bullet_bottom  {
    background-color: #FFFFFF;      
    padding: 15px; 
    text-align: left;   
    margin: 0px;
    width: 100%;
    box-sizing: border-box;   
} 

#image{
    border: 10px solid #555555;
    border-radius: 10px;  
}

img {
    max-width: 100%;
    height: auto;
}


img.fade_hover:hover{
    opacity: 0.7;
}

div.image_links_container{
    width: 100%;
    min-height: 300px;
    background-image: url(img/vinyl.jpg);
    background-position: center;
    background-size:cover;
}



/***********************************************
RESPONSIVE Design
************************************************/
@media (max-width:960px){

    header, footer{
        display: block;
        text-align: left;
    }
    .welcome h2{
        font-size: 110%;
    }
    div.column_20{
        float: none;
        width: 100%;
    }
    div.column_33{
        float: none;
        width: 100%;
    }
    div.column_50{
        float: none;
        width: 100%;
    }
    div.column_60{
        float: none;
        width: 100%;
    }
    div.column_80{
        float: none;
        width: 100%;
        padding: 0px;
    }
    
    #main_container{
        width: 100%;
        font-size: 100%;
        margin: 0px auto 0px auto;   
    }
    
    body{
        font-size: 100%;
    }
  

    div.feed{
        margin-left: 0px;
        margin-right: 0px;
    }
    p {
    margin: 0px;
    width: 100%;
    }
    


}

